body {
  margin: 0 auto;
  max-width: 9in;
  background-color: #262724;
  color: #262724; }

.resume-container {
  font-family: serif;
  font-size: 150%;
  line-height: 1.3em;
  max-width: 9in;
  padding: .5in;
  background-color: #f2f4f2; }
  .resume-container a {
    text-decoration: none;
    border-bottom: 2px #716a5b dotted;
    color: #262724; }
  .resume-container a:hover {
    color: #716a5b; }
  .resume-container .print-only {
    display: none; }
  .resume-container h1, .resume-container h2, .resume-container h3, .resume-container h4, .resume-container h5 {
    font-family: sans-serif;
    color: #716a5b; }
  .resume-container .contact-container a {
    color: #262724; }
  .resume-container .location {
    color: #d8d2b9; }
  .resume-container .computer-skills-container {
    border-top: 1px #c9d5db solid; }
  .resume-container .computer-skills {
    padding-left: .5em; }
    .resume-container .computer-skills ul.skills {
      margin-top: .1em;
      padding-left: .5em; }
    .resume-container .computer-skills .skills-header {
      margin-bottom: .5em; }
    .resume-container .computer-skills .skills > .skill {
      display: inline-block; }
      .resume-container .computer-skills .skills > .skill:after {
        content: ', '; }
      .resume-container .computer-skills .skills > .skill:last-child:after {
        content: ''; }
      .resume-container .computer-skills .skills > .skill .name {
        display: inline-block; }
  .resume-container .contact-container > * > * {
    display: inline-block; }
  .resume-container .contact-container h1 {
    color: #262724; }
  .resume-container .contact-container .contact .email {
    margin-left: 3em; }
  .resume-container .contact-container .contact .website:before, .resume-container .contact-container .contact .website:after {
    content: ' | '; }
  .resume-container .contact-container .contact .github {
    background-image: url(../img/github_mark.png);
    background-repeat: no-repeat;
    text-indent: 36px;
    background-position: 0px 0px; }
  .resume-container .dates > * {
    display: inline-block; }
  .resume-container .dates > .end-date:before {
    content: " - "; }
  .resume-container .companies, .resume-container .education, .resume-container .projects-container {
    border-top: 1px #c9d5db solid; }
  .resume-container .projects-container {
    margin-top: 1em; }
  .resume-container .company-container .company .name {
    margin-bottom: 0.3em; }
    .resume-container .company-container .company .name .long-name {
      display: none; }
    .resume-container .company-container .company .name:hover .short-name {
      display: none; }
    .resume-container .company-container .company .name:hover .long-name {
      display: block; }
  .resume-container .company-container .company .title {
    display: inline-block; }
  .resume-container .company-container .company .dates {
    display: inline-block; }
  .resume-container .company-container .company .title:after {
    content: '.'; }
  .resume-container .company-container .company .location {
    font-style: italic;
    font-weight: normal; }
  .resume-container ul.duties {
    margin-top: 0.3em; }
    .resume-container ul.duties .duty {
      line-height: 1.5em; }
  .resume-container .school > h2 {
    margin-bottom: 0.3em; }
  .resume-container .school .degree, .resume-container .school .gpa {
    display: inline-block; }
  .resume-container .school .location {
    font-weight: normal;
    font-size: 70%;
    font-style: italic; }
  .resume-container .school .degree:after {
    content: '. '; }
  .resume-container .school .gpa:before {
    content: ' Cumulative GPA: '; }
  .resume-container .project .project-name, .resume-container .project .project-source {
    display: inline-block; }
  .resume-container .project .project-source {
    font-size: 70%;
    float: right;
    color: #716a5b;
    display: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  body {
    max-width: 100%;
    background-color: #f2f4f2; }

  .resume-container {
    line-height: 1.3em;
    width: 100%;
    padding: .25in;
    background-color: transparent;
    font-size: 300%; } }
@media print {
  .resume-container {
    font-size: small;
    /** hide these so that the resume prints on two pages. **/ }
    .resume-container a {
      text-decoration: none;
      border-bottom: 0px; }
    .resume-container .project .project-source {
      display: inline-block; }
    .resume-container .computer-skills h3, .resume-container .computer-skills ul {
      margin-top: 0in;
      margin-bottom: 0in; }
    .resume-container .school .dates {
      display: inline-block; }
    .resume-container .company-smart-consulting--llc- {
      display: none; }
    .resume-container .company-container .company .name .short-name {
      display: none; }
    .resume-container .company-container .company .name .long-name {
      display: block; }
    .resume-container .contact-container .contact .github {
      text-indent: 0px; }
      .resume-container .contact-container .contact .github:before {
        content: 'Github: '; } }
