!!!
%html
  %head
    %link{rel: 'stylesheet', href: 'css/default.css'}
  %body
    .resume-container
      = yield :contact, contact
      = yield :computer_skills, computer_skills
      .companies
        - employment.each do | company |
          = yield :company, company
      .education
        - education.each do |school|
          = yield :school, school

